@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');

body {
    background: linear-gradient(to right, #ff9a9e, #fad0c4, #fbc2eb);
    text-align: center;
    font-family: 'Dancing Script', cursive; /* Reverted to cursive font */
    color: #333; /* Darker font color for better readability */
}

.container {
    width: 90%;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

h1, h2 {
    color: #0d0a0b;
    font-weight: 600;
}

button {
    background: #ff4081;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Dancing Script', cursive; /* Added cursive font for buttons */
    font-weight: 600;
    font-size:17px
}
button:hover {
    background: #e91e63;
}

.memory img {
    width: 100%;
    border-radius: 10px;
}

#quiz-result, #gift-message {
    font-size: 18px;
    margin-top: 10px;
}

.poem-button {
    margin-top: 20px;
}
